h1 {
    color: red;
}

.color-rojo {
    color: red;
}

#introduccion-aside-a {
    color: purple;
}

a[href="#introduccion"] {
    font-size: 50px;
    color: red;
}

a:hover {
    color: pink;
}

aside > ul {
    font-size: 50px;
}